- if user_signed_in?
  %div.container
    = link_to "Refresh", :controller => "money", :action => "refresh_rates"
    = will_paginate @exchanges
    %table.table
      - for exchange in @exchanges
        %tr
          %td=exchange.name
          %td=link_to "Details", money_path(exchange.id)
