- if user_signed_in?
  %div.container
    %table.table
      %thead
        %tr
          %td Currency
          %td Code
          %td Buy price
          %td Sell price
          %td 
      -@currency.each do |info|
        %tr
          %td=link_to info.name, report_path(info.code) 
          %td=info.code
          %td=info.buy_price
          %td=info.sell_price