%div.container
  %b=@currency.first.code
  = will_paginate @currency
  %table.table
    %thead
      %tr
        %td Date
        %td Buy Price
        %td Sell Price
        %td Average price
    - for t in @currency
      %tr
        %td=link_to t.exchange.created_at.strftime("%d.%m.%Y"), money_path(t.exchange.id)
        %td=t.buy_price
        %td=t.sell_price
        %td=average(t.buy_price, t.sell_price).round(4)
