!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Currency Status'
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      - if user_signed_in?
        .navbar
          .container
            .small{:style => "text-align:right"}
              = "Logged in as #{current_user.email}"
              = link_to "Logout", destroy_user_session_path, method: :delete
              = render 'layouts/messages'
      - else
        .h2
          = link_to "Sign up", new_user_registration_path
          = " or "
          = link_to "Login", new_user_session_path
          = " to continue."
      = yield
